<!DOCTYPE html>
<html lang="<%=preferredLanguage||'en'%>" app-version="<%=appVersion%>">

<head>
    <base href="<%=baseUrl%>">
    <meta charset="utf-8">
    <title ng-bind="ngMeta.title"></title>
    <meta name="description" content="{{ngMeta.description}}">
    <link name="canonical" rel="canonical" href="{{ngMeta.canonical}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/app/img/favicon.png">

    <!-- Bootstrap core CSS -->
    <% if(preferredLanguage != 'ar') { %>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <% } 
       if(preferredLanguage != 'en') { %>
        <link rel="stylesheet" href="/app/css/translation.css">
    <% } 
       if(preferredLanguage == 'ar') { %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <% } %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="<%=cdnUrl%>npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="<%=cdnUrl%>combine/<%=initialCss%>" />
    <link rel="stylesheet" type="text/css" href="/app/css/template.css?v=<%=appVersion%>">
    <link rel="stylesheet" type="text/css" href="/app/css/bch/template.css?v=<%=appVersion%>">

    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body ng-controller="BchTemplateController" id="top" lang="<%=preferredLanguage||'en'%>">
    <span style='display:none' id="appTitle">Biosafety Clearing-House</span>
    <span style='display:none' id="appDescription">The Biosafety Clearing-House</span>
    <span id="appBaseUrl" style="display:none"><%=baseUrl%></span>
    <app-loading>
        <div class="m-app-loading" ng-animate-children>
    
            <style type="text/css">
                div.m-app-loading div.animated-container {
                    background-color: #FFFFFF ;
                    bottom: 0px ;
                    left: 0px ;
                    opacity: 1.0 ;
                    right: 0px ;
                    top: 0px ;
                    z-index: 999999 ;
                }
                /* Used to initialize the ng-leave animation state. */
                div.m-app-loading div.animated-container.ng-leave {
                    opacity: 1.0 ;
                    transition: all linear 200ms ;
                        -webkit-transition: all linear 200ms ;
                }
                /* Used to set the end properties of the ng-leave animation state. */
                div.m-app-loading div.animated-container.ng-leave-active {
                    opacity: 0 ;
                }
                div.m-app-loading div.messaging {
                    color: #1FA65D ;
                    font-family: monospace ;
                    left: 0px ;
                    margin-top: -37px ;
                    position: absolute ;
                    right: 0px ;
                    text-align: center ;
                    top: 30% ;
                }
                div.m-app-loading h1 {
                    font-size: 26px ;
                    line-height: 35px ;
                    margin: 0px 0px 20px 0px ;
                }
                div.m-app-loading p {
                    font-size: 18px ;
                    line-height: 14px ;
                    margin: 0px 0px 0px 0px ;
                }
            </style>
        
            <div class="animated-container">
                <div class="messaging">
                    <span class="color-orange ng-scope" ng-if="development_env" style="font-size:48px;font-weight:bold;"> 
                        <img src="/app/img/cbd-logo-green-en.svg" style="height:80px;">
                    </span>
                   
                    <h1>
                        <br/>                  
                       <div class="color-black" id="appLoadingMessage">
                            loading the <br/>Biosafety Clearing-House                       
                        </div>
                        version <%=appVersion%>
                        <div class="color-red" id="appLoadingError" style="display: none;">
                            <span>Error loading the <br/>Biosafety Clearing-House   </span>
                            <br/>
                            <span>Please contact the Secretariat</span>
                            <div>
                                <button type="button" class="btn btn-danger" id="showError">Show detail error</button>
                                <code style="display: none;word-break: break-all;color: #fff;background-color: #d9534f;border-color: #d43f3a;" id="detailErrorMessage"></code>                            
                            </div>
                        </div>
                        <br/><br/>
                        <i class="fa fa-spin fa-3x fa-circle-o-notch app-loading-icon"></i> 
                    </h1>
                </div>
            </div>
        </div>
    </app-loading>

    <div class="alert alert-info alert-dismissible lang-alert" ng-if="'<%=preferredLanguage%>'!='en'" style="margin-bottom:1px">
        <a rel="noopener" href="#" class="close" data-bs-dismiss="alert" aria-label="close">&times;</a>
         <strong>Please note that the translation of the Biosafety Clearing-House is in progress.</strong>
    </div>
    <!-- PAGE -->
    <div class="ng-cloak">
        <scbd-header></scbd-header>
       
        <div id="wrapper" class="toggled">
            <div id="sidebar-wrapper" ng-class="{'activate':openSideBarType}">
                <div  ng-if="openSideBarType" class="easing" >
                    <docked-side-bar type="openSideBarType"></docked-side-bar>
                </div>
            </div>
        
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="easing">
                        <bch-header></bch-header>
                        <div class="page-content">
                            <route-loading></route-loading>
                            <ng-view autoscroll="true"></ng-view>                
                        </div>
                        <embed-footer ng-if="embed"></embed-footer>
                    </div>
                </div>
            </div>    
        </div>

        <bch-footer></bch-footer>
        <cbd-footer></cbd-footer>

    </div>
    
    <script>
        // In IE boot.js is executing before this script was executed so move it before boot.js       
        
        window.scbdApp = {
            template         : 'templates/bch/bch',
            host             : '<%=clearingHouseHost%>',
            version          : '<%=appVersion%>',
            lang             : '<%=preferredLanguage%>',
            title            : document.getElementById('appTitle').innerText,
            description      : document.getElementById('appDescription').innerText,
            analytics        : '<%=googleAnalyticsCode%>'
        }        
    </script>
    <script src="<%=cdnUrl%>npm/regenerator-runtime@0.13.7/runtime.js"></script>
    <script src="<%=cdnUrl%>combine/<%=angularBundle%>"></script>
    <script>
        require(["app/<%=bootFile%>"], function(boot){
            var bootFn = boot.default || boot;
            bootFn(window, require, define);
        });
    </script>
    
    
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <script>
       function addLoadEvent(func) {
            var oldonload = window.onload; if (typeof window.onload != 'function') { window.onload = func; } else { window.onload = function() { if (oldonload) { oldonload(); } func(); } } 
        }
        addLoadEvent(function() {
            var langARRegex = /^\/ar\//;
            var location = window.location;
            if(langARRegex.test(location.pathname)){
             document.getElementsByTagName("body")[0].setAttribute("dir", "rtl");   
            }

        });
        if('<%=googleAnalyticsCode%>'!=''){
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', '<%=googleAnalyticsCode%>', 'auto');
            ga('set',    'hostname', window.location.hostname);
            ga('set',    'location', undefined);
        }
        
    </script>


</body>

</html>
